[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux.git
[submodule "vendor/github.com/gorilla/context"]
	path = vendor/github.com/gorilla/context
	url = https://github.com/gorilla/context.git
[submodule "vendor/github.com/codegangsta/negroni"]
	path = vendor/github.com/codegangsta/negroni
	url = https://github.com/codegangsta/negroni.git
[submodule "vendor/github.com/K-Phoen/negotiation"]
	path = vendor/github.com/K-Phoen/negotiation
	url = https://github.com/K-Phoen/negotiation.git
[submodule "vendor/github.com/mitchellh/mapstructure"]
	path = vendor/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure.git
[submodule "vendor/github.com/dgrijalva/jwt-go"]
	path = vendor/github.com/dgrijalva/jwt-go
	url = https://github.com/dgrijalva/jwt-go.git
[submodule "vendor/github.com/mattn/go-sqlite3"]
	path = vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3.git
[submodule "vendor/github.com/pborman/uuid"]
	path = vendor/github.com/pborman/uuid
	url = https://github.com/pborman/uuid.git
[submodule "vendor/github.com/spf13/cobra"]
	path = vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra
[submodule "vendor/github.com/spf13/viper"]
	path = vendor/github.com/spf13/viper
	url = https://github.com/spf13/viper
[submodule "vendor/github.com/gophercloud/gophercloud"]
	path = vendor/github.com/gophercloud/gophercloud
	url = https://github.com/gophercloud/gophercloud
[submodule "vendor/github.com/hashicorp/hcl"]
	path = vendor/github.com/hashicorp/hcl
	url = https://github.com/hashicorp/hcl
[submodule "vendor/github.com/jinzhu/inflection"]
	path = vendor/github.com/jinzhu/inflection
	url = https://github.com/jinzhu/inflection
[submodule "vendor/github.com/kr/pretty"]
	path = vendor/github.com/kr/pretty
	url = https://github.com/kr/pretty
[submodule "vendor/github.com/kr/text"]
	path = vendor/github.com/kr/text
	url = https://github.com/kr/text
[submodule "vendor/github.com/BurntSushi/toml"]
	path = vendor/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml
[submodule "vendor/golang.org/x/tools"]
	path = vendor/golang.org/x/tools
	url = https://go.googlesource.com/tools
[submodule "vendor/github.com/magiconair/properties"]
	path = vendor/github.com/magiconair/properties
	url = https://github.com/magiconair/properties
[submodule "vendor/github.com/spf13/cast"]
	path = vendor/github.com/spf13/cast
	url = https://github.com/spf13/cast
[submodule "vendor/github.com/spf13/jwalterweatherman"]
	path = vendor/github.com/spf13/jwalterweatherman
	url = https://github.com/spf13/jwalterweatherman
[submodule "vendor/github.com/spf13/pflag"]
	path = vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "vendor/gopkg.in/fsnotify.v1"]
	path = vendor/gopkg.in/fsnotify.v1
	url = https://gopkg.in/fsnotify.v1
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/go-check/check"]
	path = vendor/github.com/go-check/check
	url = https://github.com/go-check/check
[submodule "vendor/github.com/romana/rlog"]
	path = vendor/github.com/romana/rlog
	url = https://github.com/romana/rlog
[submodule "vendor/k8s.io/client-go"]
	path = vendor/k8s.io/client-go
	url = https://github.com/kubernetes/client-go
	branch = release-2.0
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/github.com/fsnotify/fsnotify"]
	path = vendor/github.com/fsnotify/fsnotify
	url = https://github.com/fsnotify/fsnotify
[submodule "vendor/github.com/pelletier/go-toml"]
	path = vendor/github.com/pelletier/go-toml
	url = https://github.com/pelletier/go-toml
[submodule "vendor/github.com/spf13/afero"]
	path = vendor/github.com/spf13/afero
	url = https://github.com/spf13/afero
[submodule "vendor/github.com/pelletier/go-buffruneio"]
	path = vendor/github.com/pelletier/go-buffruneio
	url = https://github.com/pelletier/go-buffruneio
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text/
[submodule "vendor/github.com/docker/libkv"]
	path = vendor/github.com/docker/libkv
	url = https://github.com/romana/libkv
	branch = romana
[submodule "vendor/github.com/coreos/etcd"]
	path = vendor/github.com/coreos/etcd
	url = https://github.com/coreos/etcd.git
[submodule "vendor/github.com/vishvananda/netlink"]
	path = vendor/github.com/vishvananda/netlink
	url = https://github.com/vishvananda/netlink
[submodule "vendor/github.com/vishvananda/netns"]
	path = vendor/github.com/vishvananda/netns
	url = https://github.com/vishvananda/netns
[submodule "vendor/github.com/ugorji/go"]
	path = vendor/github.com/ugorji/go
	url = https://github.com/ugorji/go
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/golang/glog"]
	path = vendor/github.com/golang/glog
	url = https://github.com/golang/glog
[submodule "vendor/github.com/containernetworking/cni"]
	path = vendor/github.com/containernetworking/cni
	url = https://github.com/romana/cni
	branch = vendor-fix
[submodule "vendor/github.com/go-resty/resty"]
	path = vendor/github.com/go-resty/resty
	url = https://github.com/go-resty/resty.git
[submodule "vendor/github.com/hashicorp/go-multierror"]
	path = vendor/github.com/hashicorp/go-multierror
	url = https://github.com/hashicorp/go-multierror.git
[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "vendor/github.com/aws/aws-sdk-go"]
	path = vendor/github.com/aws/aws-sdk-go
	url = https://github.com/aws/aws-sdk-go
[submodule "vendor/github.com/romana/ipset"]
	path = vendor/github.com/romana/ipset
	url = https://github.com/romana/ipset
[submodule "vendor/github.com/prometheus/client_golang"]
	path = vendor/github.com/prometheus/client_golang
	url = https://github.com/prometheus/client_golang
[submodule "vendor/github.com/beorn7/perks"]
	path = vendor/github.com/beorn7/perks
	url = https://github.com/beorn7/perks
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = http://github.com/golang/protobuf
[submodule "vendor/github.com/matttproud/golang_protobuf_extensions"]
	path = vendor/github.com/matttproud/golang_protobuf_extensions
	url = https://github.com/matttproud/golang_protobuf_extensions
[submodule "vendor/github.com/prometheus/client_model"]
	path = vendor/github.com/prometheus/client_model
	url = https://github.com/prometheus/client_model
[submodule "vendor/github.com/prometheus/common"]
	path = vendor/github.com/prometheus/common
	url = https://github.com/prometheus/common
[submodule "vendor/github.com/prometheus/procfs"]
	path = vendor/github.com/prometheus/procfs
	url = https://github.com/prometheus/procfs
[submodule "vendor/github.com/mohae/deepcopy"]
	path = vendor/github.com/mohae/deepcopy
	url = https://github.com/mohae/deepcopy.git
[submodule "vendor/github.com/elgs/gojq"]
	path = vendor/github.com/elgs/gojq
	url = https://github.com/elgs/gojq.git
[submodule "vendor/github.com/elgs/gosplitargs"]
	path = vendor/github.com/elgs/gosplitargs
	url = https://github.com/elgs/gosplitargs
