[submodule "vendor/github.com/spf13/viper"]
	path = vendor/github.com/spf13/viper
	url = https://github.com/spf13/viper
[submodule "vendor/github.com/romana/core"]
	path = vendor/github.com/romana/core
	url = https://github.com/romana/core
[submodule "vendor/k8s.io/client-go"]
	path = vendor/k8s.io/client-go
	url = https://github.com/kubernetes/client-go
	branch = release-1.5
[submodule "vendor/github.com/K-Phoen/negotiation"]
	path = vendor/github.com/K-Phoen/negotiation
	url = https://github.com/K-Phoen/negotiation
[submodule "vendor/github.com/codegangsta/negroni"]
	path = vendor/github.com/codegangsta/negroni
	url = https://github.com/codegangsta/negroni
[submodule "vendor/github.com/dgrijalva/jwt-go"]
	path = vendor/github.com/dgrijalva/jwt-go
	url = https://github.com/dgrijalva/jwt-go
[submodule "vendor/github.com/go-sql-driver/mysql"]
	path = vendor/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql
[submodule "vendor/github.com/go-yaml/yaml"]
	path = vendor/github.com/go-yaml/yaml
	url = https://github.com/go-yaml/yaml
[submodule "vendor/github.com/gorilla/context"]
	path = vendor/github.com/gorilla/context
	url = https://github.com/gorilla/context
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/jinzhu/gorm"]
	path = vendor/github.com/jinzhu/gorm
	url = https://github.com/jinzhu/gorm
[submodule "vendor/github.com/jinzhu/inflection"]
	path = vendor/github.com/jinzhu/inflection
	url = https://github.com/jinzhu/inflection
[submodule "vendor/github.com/mattn/go-sqlite3"]
	path = vendor/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/github.com/pborman/uuid"]
	path = vendor/github.com/pborman/uuid
	url = https://github.com/pborman/uuid
[submodule "vendor/github.com/spf13/cobra"]
	path = vendor/github.com/spf13/cobra
	url = https://github.com/spf13/cobra
[submodule "vendor/github.com/spf13/pflag"]
	path = vendor/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
[submodule "vendor/github.com/fsnotify/fsnotify"]
	path = vendor/github.com/fsnotify/fsnotify
	url = https://github.com/fsnotify/fsnotify
[submodule "vendor/github.com/pelletier/go-toml"]
	path = vendor/github.com/pelletier/go-toml
	url = https://github.com/pelletier/go-toml
[submodule "vendor/github.com/pelletier/go-buffruneio"]
	path = vendor/github.com/pelletier/go-buffruneio
	url = https://github.com/pelletier/go-buffruneio
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys/
[submodule "vendor/github.com/spf13/afero"]
	path = vendor/github.com/spf13/afero
	url = https://github.com/spf13/afero
[submodule "vendor/golang.org/x/text"]
	path = vendor/golang.org/x/text
	url = https://go.googlesource.com/text/
[submodule "vendor/github.com/spf13/cast"]
	path = vendor/github.com/spf13/cast
	url = https://github.com/spf13/cast
[submodule "vendor/github.com/spf13/jwalterweatherman"]
	path = vendor/github.com/spf13/jwalterweatherman
	url = https://github.com/spf13/jwalterweatherman
[submodule "vendor/github.com/romana/rlog"]
	path = vendor/github.com/romana/rlog
	url = https://github.com/romana/rlog
