[submodule "src/github.com/romanaproject/pani_core/vendor/github.com/go-sql-driver/mysql"]
	path = src/github.com/romanaproject/pani_core/vendor/github.com/go-sql-driver/mysql
	url = git@github.com:go-sql-driver/mysql.git
[submodule "vendor/github.com/go-sql-driver/mysql"]
	path = vendor/github.com/go-sql-driver/mysql
	url = git@github.com:go-sql-driver/mysql.git
