{{/* 
	This is a template to that can be rendered by
	Romana route publisher into bird.conf

	It will export list of CIDRs (prefix groups)
	which current host is a part of.
*/}}
{{ $hg := index .Args "HostGroups" -}}

protocol static static_bgp {
{{ range $net, $group := $hg }}
	# Network {{ $net }}
	route {{ $group.CIDR }} reject;
{{ end }}
}

protocol bgp bgp_def {
	export where proto = "static_bgp";
        direct;
	local as {{.LocalAS}};
	neighbor 192.168.99.1 as {{.LocalAS}};
}
